.episode-list {
  list-style: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.episode-item {
  border: 1px solid #ccc; /* Adds a border to each episode */
  border-radius: 8px; /* Adds border-radius to each episode */
  margin-bottom: 10px; /* Adds gap between list items */
  padding: 10px; /* Adds padding inside the item */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  cursor: pointer;
}

.episode-item:hover {
  background-color: #d9d9d9; /* Hover background */
  color: black;
  /* cursor: pointer; */
}

.selected-episode {
  background-color: #3490dc; /* Background color for selected episode */
  color: white; /* Text color for selected episode */
  border: 2px solid #1e7ec8; /* More defined border for selected episode */
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 25%; /* Adjust for 20-30% */
  background-color: #f7f7f7;
  padding: 20px;
  overflow-y: auto;
  border-right: 2px solid #e0e0e0;
}

.main-content {
  width: 75%; /* Remaining space */
  padding: 20px;
  background-color: #f0f0f0;
  overflow-y: auto;
}

/* .character-card {
  background-color: white;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}
.character-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: #3490dc;
}

.character-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
} */
.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px; /* Adjust spacing as needed */
}

.character-card {
  display: flex;
  flex-direction: column; /* Stack elements vertically within each card */
  align-items: center;
  width: 250px; /* Card width */
  height: 300px; /* Card height */
  /* margin-top: 60px; */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  padding: 10px;
}

.character-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.character-card img {
  width: 200px; /* Image width */
  height: 200px; /* Image height */
  margin-top: 15px;
  /* border-radius: 50%; */
  margin-bottom: 10px; /* Space below the image */
}

.pagination {
  display: flex;
  justify-content: center; /* Center the pagination */
  margin-top: 20px; /* Space above pagination */
}

.pagination button {
  margin: 0 5px; /* Space between buttons */
  padding: 10px 15px; /* Padding for buttons */
  background-color: #3490dc; /* Button color */
  color: white; /* Button text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Round corners */
  cursor: pointer; /* Pointer on hover */
  transition: background-color 0.3s; /* Smooth background transition */
}

.pagination button:hover {
  background-color: #1e7ec8; /* Darker blue on hover */
}

.selected-character {
  border-color: #3490dc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.character-details {
  position: relative; /* Allows absolute positioning of the button */
  padding: 20px; /* Add some padding to the container */
}

.cancel-button {
  position: absolute; /* Position relative to the character-details container */
  top: 16px; /* Distance from the top */
  right: 16px; /* Distance from the right */
  background-color: #3490dc; /* Button color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Round corners */
  padding: 10px 15px; /* Padding for the button */
  cursor: pointer; /* Pointer on hover */
  transition: background-color 0.3s; /* Smooth background transition */
}

.cancel-button:hover {
  background-color: #1e7ec8; /* Darker blue on hover */
}

.episode-list {
  list-style: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.episode-item {
  border: 1px solid #ccc; /* Adds a border to each episode */
  border-radius: 8px; /* Adds border-radius to each episode */
  margin-bottom: 10px; /* Adds gap between list items */
  padding: 10px; /* Adds padding inside the item */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  cursor: pointer;
}

.episode-item:hover {
  background-color: #d9d9d9; /* Hover background */
  color: black;
}
