/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
}
.episode-list {
  background-color: #ffffff;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
}

.episode-header {
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
  list-style: none;
}

.character-list {
  display: flex;
} */

.episodes-list {
  cursor: pointer;
}
